@import "config";
@import "mixins";
@import "functions";
.element {
  color: hotpink;
  @include respond-to(small) {
    color: tomato;
  }
}

.color-1 {
  background-color: map-get($colors, sky);
}

.color-2 {
  background-color: color(sky);
}
